# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# chat-backend specific
chat-backend/node_modules/
chat-backend/.env*
chat-backend/dist/ # If your backend has a build output directory like 'dist'

# NextJS-GPT specific
NextJs-GPT/node_modules/
NextJs-GPT/.env*
NextJs-GPT/dist/
NextJs-GPT/.next/



## vector-micro-service specific
backend/vector-micro-service/.venv
backend/vector-micro-service/.env
backend/vector-micro-service/vectorDB
**/__pycache__/


## micro-service specific
uploads
backend/micro-service/.env

## vectorDB
vectorDB

## uploads
uploads

## Test folders
test-go